#logo {
  background-image: url('../public/logo.png');
}

#cover_img {
  height: 25rem;
  background-image: url('../public/cover_photo.jpg');
  background-size: cover;
  z-index: -1;
  margin-bottom: -2rem;
}

#profile_img {
  background-size: cover;
  height: 12rem;
  width: 12rem;
  background-image: url('../public/profile.jpg');
  z-index: 1;
  border-radius: 50%;
}